
<ion-content>
    <swiper-container>

      <swiper-slide>
        <h2>Titulo del slide 1</h2>
        <img src="https://static.nationalgeographic.es/files/styles/image_3200/public/75552.ngsversion.1422285553360.jpg?w=1900&h=1267">
        <p>Hola, soy un parrago del slide 1</p>
      </swiper-slide>

      <swiper-slide>
        <h2>Titulo del slide 2</h2>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyBVas7et90dyolxxM9rgsw3MirVtbxnsseg&s">
        <p>Hola, soy un parrago del slide 2</p>
      </swiper-slide>

      <swiper-slide>
        <h2 class="vacano">Titulo del slide 3</h2>
        <img src="https://t1.ea.ltmcdn.com/es/razas/2/1/8/tiburon-blanco_812_0_orig.jpg">
        <ion-icon name="beer"></ion-icon>
        <p>Hola, soy un parrago del slide 3</p>
      </swiper-slide>
    </swiper-container>
    
</ion-content>
